{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "indentStyle": "space",
  "indentSize": 2,
  "endOfLine": "lf",
  "charset": "utf-8",
  "trimTrailingWhitespace": true,
  "insertFinalNewline": true
}
