ul li {
  list-style: none;
}

// 居中设置
.setPos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
}

// 星球样式绘制
.ball {
  li:nth-child(1) {
    transform: rotateY(20deg);
  }

  li:nth-child(2) {
    transform: rotateY(40deg);
  }

  li:nth-child(3) {
    transform: rotateY(60deg);
  }

  li:nth-child(4) {
    transform: rotateY(80deg);
  }

  li:nth-child(5) {
    transform: rotateY(100deg);
  }

  li:nth-child(6) {
    transform: rotateY(120deg);
  }

  li:nth-child(7) {
    transform: rotateY(140deg);
  }

  li:nth-child(8) {
    transform: rotateY(160deg);
  }

  li:nth-child(9) {
    transform: rotatex(20deg);
  }

  li:nth-child(10) {
    transform: rotatex(40deg);
  }

  li:nth-child(11) {
    transform: rotatex(60deg);
  }

  li:nth-child(12) {
    transform: rotatex(80deg);
  }

  li:nth-child(13) {
    transform: rotatex(100deg);
  }

  li:nth-child(14) {
    transform: rotatex(120deg);
  }

  li:nth-child(15) {
    transform: rotatex(140deg);
  }

  li:nth-child(16) {
    transform: rotatex(160deg);
  }
}

// 星轨翻转
@rotationY1: rotateX(60deg) rotateY(-20deg);
@rotationY2: rotateX(70deg) rotateY(20deg);
@rotationY3: rotateX(-60deg) rotateY(20deg);

.container {
  background-image: url(~@/assets/starBG.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;

  .trajectory {
    .setPos();
    width: 300px;
    height: 300px;
    box-shadow: 0 0 100px #fff;
    background-color: transparent;
    transform: @rotationY1;
    animation: revolution 10s linear infinite;
    transform-style: preserve-3d;

    .sun {
      .setPos();
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      animation: rotation 10s linear infinite;

      li {
        .setPos();
        width: 100%;
        height: 100%;
        border: 1px solid #ec5b0d;
        box-shadow: 0 0 100px #ec5b0d;
      }

      .ball();
    }
  }

  .trajectoryEarth {
    .setPos();
    width: 600px;
    height: 600px;
    background-color: transparent;
    box-shadow: 0 0 100px #fff;
    transform: @rotationY2;
    transform-style: preserve-3d;
    animation: revolutionEarth 10s linear infinite;

    .earth {
      position: absolute;
      top: 50%;
      margin-top: -40px;
      left: -40px;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      transform-style: preserve-3d;
      animation: rotation 15s linear infinite;

      li {
        .setPos();
        width: 100%;
        height: 100%;
        border: 1px solid #17308e;
        box-shadow: 0 0 20px #17308e;
      }

      .ball();
    }
  }

  .trajectorySaturn {
    .setPos();
    width: 800px;
    height: 800px;
    background-color: transparent;
    box-shadow: 0 0 100px #fff;
    transform: @rotationY3;
    transform-style: preserve-3d;
    animation: revolutionSaturn 10s linear infinite;

    .saturn {
      position: absolute;
      top: 50%;
      margin-top: -40px;
      left: -40px;
      border-radius: 100%;
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      animation: rotation 15s linear infinite;

      li {
        .setPos();
        width: 100%;
        height: 100%;
        border: 1px solid #de983e;
        box-shadow: 0 0 20px #de983e;
      }

      .ball();
    }
  }
}

// 公转
@keyframes revolution {
  from {
    transform: @rotationY1 rotateZ(0);
  }

  to {
    transform: @rotationY1 rotateZ(360deg);
  }
}

// 公转2
@keyframes revolutionEarth {
  from {
    transform: @rotationY2 rotateZ(0);
  }

  to {
    transform: @rotationY2 rotateZ(360deg);
  }
}

// 公转2
@keyframes revolutionSaturn {
  from {
    transform: @rotationY3 rotateZ(0);
  }

  to {
    transform: @rotationY3 rotateZ(360deg);
  }
}

//自转
@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
